
.vscode/settings.json
.vscode/launch.json
*.egg-info
__pycache__
/work_dir
/output_dir
*.log
/mnt/storage/projects/aebn-vod-downloader/296509
/mnt/storage/projects/aebn-vod-downloader/325587
/mnt/storage/projects/aebn-vod-downloader/.venv